<section class="index-page">
    <img class="avatar" src="{{ photo }}" alt="avatar"/>
    <h1 class="success">
    Hello {{ name }}!
    </h1>

    <a href="/user/profile">Profile</a>
    <a href="/user/profile/settings">User Settings</a>
    <a href="/auth/logout">Log Out</a>
</section>